Kent Fredric <kentnl@gentoo.org> <kentfredric@gmail.com>
Kent Fredric <kentnl@gentoo.org> <root@ember.(none)>
Michele Beltrame <mb@cattlegrid.info> <mb@italpro.net>
Michele Beltrame <mb@cattlegrid.info> <root@nowhere.ebau.it>
Michele Beltrame <mb@cattlegrid.info> <mb@nowhere.ebau.it>
Daniel Westermann-Clark <dwc@pobox.com> <dwc@ufl.edu>
Andreas K. Hüttel <dilfridge@gentoo.org> <dilfridge@gentoo.org>
Torsten Veller <tove@gentoo.org> <torsten@veller.net>
